<h1>Stupid Coaching</h1>

<p><%= @b %></p>
<p>-you</p>

<div class = "answer">
<p><%= @answer %></p>
<p>-your coach</p>
</div>

<button type="button" class="btn btn-success"  id = "button"><%= link_to "Ask a new question", "http://localhost:3000/ask" %></button>
